/*************************************Overrides************************************/
$sm:640px;
$md:720px;
$lg:960px;
$xl:1080px;
$gutter:.5rem;
$fieldMargin:.5rem;
$fieldLabelMargin:.5rem;
$helperTextMargin:.5rem;
$spacer:.5rem;
$white: #fff;
$black: #333333;
$black-light: #495057;
/*************************************Fonts************************************/
$lato: 'Lato', sans-serif;
/************************************Default colors***************************/
$primary-color:  #000;
$secondary-color: #3091D7; //blue-fonce
$green: #43C363;
$green-light: #E5FCEB;
$dark-green: #4bab9a;
$dark-green-light: #4bab9a38;
$red: #e20714;
$red-light: #f6e7e7;
$yellow: #FFC856;
$light-yellow: #ffec5647;
$grey: #656565;
$light-grey: #eee;
$lighter-grey: #e9ecef;
$lighter-blue: #3091d72e; //(48 145 215 0.18)
$lighter-blue2: #002e5f29;
$light-secondary: #3091d70d; //(48 145 215 0.18)
/*************************************Text***************************************/
$text-grey: #656565;
$text-grey2: #003e7947; //rgb(0 62 121 / 40%) -> (text menu)
